body{
	background-color: #212F3D;
}

h1 {
	color: #FFF; text-align: center;
	font-family: Spectral, sans-serif;
	font-weight: 700;
}

p {
	color: #F0B31D; text-align: center;
	font-family: "Fjallas One", monospace;
}

#slogan {
	font-style: italic;
}