body{
	background-color: #212F3D;
	background-image: url('images/boston.jpg');
}

h1 {
	color:	black; text-align: center;
}

p {
	color: #F0B31D; text-align: center;
}

#slogan {
	font-style: italic;
}